---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script>
			if ("serviceWorker" in navigator) {
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/sw.js').then(registration => {
						console.log('Service Worker registered with scope:', registration.scope);
					}).catch(error => {
						console.error('Service Worker registration failed:', error);
					});
				});
				try {
					const registration = await navigator.serviceWorker.register("/sw.js");
					if (registration.installing) {
						console.log("Service worker installing");
					} else if (registration.waiting) {
						console.log("Service worker installed");
					} else if (registration.active) {
						console.log("Service worker active");
					}
				} catch (error) {
					console.error(`Registration failed with ${error}`);
				}
				caches.open('v1').then((cache) => {console.log(cache)});
			}
		</script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
